<%- include('partials/header'); -%>

<div class="course_wrapper1">
    <div class="inner_wrap container-flex">
        <a href="/pycourse">
            <div class="course_image">
                <img src="python.png" alt="">
            </div>
        </a>
        <div class="course_info">
            <h1>Python Development</h1>
            <h3>Learn the basics of python</h3>
            <div class="start_course"><a href="/pycourse">Start</a></div>
        </div>
    </div>
</div>

<div class="course_wrapper2">

    <div class="inner_wrap container-flex">
        <div class="course_info">
            <h1>Front-end Development</h1>
            <h3>Dive into the world of Front-end-dev</h3>
            <div class="start_course"><a href="/fecourse">Start</a></div>
        </div>
        <a href="/fecourse">
            <div class="course_image">
                <img src="frontend.png" alt="">
            </div>
        </a>
    </div>
</div>

<div class="course_wrapper3">
    <div class="inner_wrap container-flex">
        <a href="/jcourse">
            <div class="course_image">
                <img src="java.png" alt="">
            </div>
        </a>
        <div class="course_info">
            <h1>Programming in java</h1>
            <h3>Get yourself introduced to concept of OOP and the language of Java</h3>
            <div class="start_course"><a href="/jcourse">Start</a></div>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>